div{
	text-align: center;
	width: 100%;
}

input{
	font-family: "Segoe UI";
	font: small-caps 120% serif;
	text-align: center;
	width: 100%;
}
#head{
	font-family: "Segoe UI";
	font: small-caps 120% serif;
	text-align: center;
	width: 100%;
}

